name: LD2450 Zone Configurator
version: "1.0.2"
slug: ld2450_zone_configurator
description: Web-based zone configurator for LD2450 mmWave presence sensor via Zigbee2MQTT
url: https://github.com/notownblues/presence-zone-configurator-addon
arch:
  - aarch64
  - amd64
  - armhf
  - armv7
  - i386
init: false
startup: application
boot: auto
ingress: true
ingress_port: 8099
panel_icon: mdi:radar
panel_title: Zone Configurator
options:
  mqtt_host: core-mosquitto
  mqtt_port: 1883
  mqtt_username: ""
  mqtt_password: ""
  mqtt_base_topic: zigbee2mqtt/SHS01
schema:
  mqtt_host: str
  mqtt_port: port
  mqtt_username: str?
  mqtt_password: password?
  mqtt_base_topic: str
